@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kalnia&family=Quicksand:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /*font-family: 'Kalnia', serif;
    font-family: 'Quicksand', sans-serif;;*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/photo-1473773508845-188df298d2d1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box{
    width: 420px;
    background: transparent;
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
    padding: 30px 40px;
}

.box h1{
    font-size: 43px;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input_box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.input_box input::placeholder{
    color: rgba(213, 211, 211, 0.485);
}

.input_box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember a{
    color: #fff;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 40px;
    color:#333 ;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.register{
    font-size: 14.5px;
    text-align: center;
   margin: 20px 0 15px;
}

.register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register a:hover{
    text-decoration: underline;

}